<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
  
    </head>

    <body>

        <header>
            <div class="logo">
                evaluate news articles
            </div>
            <!-- <div class="navbar">
                navigation
            </div> -->
        </header>

        <main>
            <section>
                <form id="search-form">
                    <h3>
                        Evaluate
                    </h3>
                    <div class="input">
                    <label for="url"> URL:</label>
                    <input id="URL" type="text" name="url" value="" placeholder="URL">
                </div>
                <p id="error" class="error"></p>
                   <button type="submit" id="submit-button" >submit</button>
                </form>
            </section>

            <section id="display-result">
                <strong>Results:</strong>
                
            </div>
            </section>
        </main>

        <footer>
            <p>
                Big thanks to Meaning cloud for providing the API that made this application possible
            </p>
            <small>	&#169; perserved to Ahmed Mamdouh</small>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./service-worker.js');
                });
            }
           </script>
    </body>
</html>
