@use  "./global" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;1,100&family=Roboto:wght@300&display=swap');

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	letter-spacing: 0.7px;
	background-color: $background-color;
}

main {
	margin: 0 auto;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	.result {
        width: 400px;
        height: fit-content;
        padding: 2rem;
		background-color: lighten($background-color,10%);
        box-shadow:
        10.3px 7.5px 10px rgba(0, 0, 0, 0.09),
        82px 60px 80px rgba(0, 0, 0, 0.07)
      ;
	  p{
		  padding: 0.5rem;
		  border-bottom:0.5px solid $primary-color ;
	  }
	  p.animation{
		  padding: 0;
		  height: 2rem;
		  margin: 0.5rem auto;
		  background-color: rgb(172, 172, 172);
		  border: none;
		  position: relative;
		  overflow: hidden;
		  &::after{
			  content: "";
			  width: 4rem;
			  height: 100%;
			  position: absolute;
			  background-image: linear-gradient(to right,rgb(172, 172, 172),lighten(rgb(172, 172, 172),5%), rgb(172, 172, 172));
			  z-index: 100;
			  animation: load 0.7s linear infinite;
			  @keyframes load {
				  from{
					//   transform: translateX(0);
				  }
				  to{
					transform: translateX(400px);
				  }
			  }
		  }
		  
	  }
	}
	.error{
        color: rgb(182, 55, 65);
    }
}

section {
	max-width: 800px;
	margin: 20px auto;
}
