@use "./global" as * ;

header {
    display: flex;
    justify-content: space-around   ;
    align-items: baseline;
    padding: 10px 40px;
    @include bgColor-color($primary-color);
    .logo{
        font-size: 20px;
        padding: 1rem;
        text-transform: uppercase;
        
    }
}
